<?php
/*************************************************************
 * index.php
 * 
 * Home page for the LITW demo study.
 * 
 * Author: Trevor Croxson
 * Last Modified: February 26, 2017
 *
 * © Copyright 2017 LabintheWild
 * For questions about this file and permission to use
 * the code, contact us at info@labinthewild.org
 *************************************************************/
?>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title data-i18n='litw-template-title'></title>

		<!-- open graph tags -->
		<meta property="og:site_name" content="LabintheWild" />
		<meta property="og:title" content="Which Cat?" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="Which cat? A or B?" />
		
		<!-- ***** stylesheets ***** -->
		<!-- bootstrap -->
		<!-- NOTE(Trevor): for now, include the bootstrap stylesheet here. Including 
		it via webpackcaused other stylesheets linked to here (like litw-styles.css) 
		to be overridden. There's probably a way to do this within webpack, but need
		to investigate further. -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- if using form autocompletion, include a jQueryUI css template -->
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">
		
		<!-- jsPsych styles -->
		<link href="js/jsPsych-5.0.3/css/jspsych.css" rel="stylesheet" type="text/css">
		
		<!-- LITW base styles -->
		<link href="https://static.labinthewild.org/styles/litw-styles.css" rel="stylesheet" type="text/css">
		
		<!-- study-specific styles -->
		<link href="css/styles.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		<div id="content">
			<div class='modal fade' id='splash-screen' role='dialog'>
        <div class='modal-dialog'>
      		<div class='modal-content'>
      	  	<div class='modal-header'>
              <button type='button' class='close' id='splash-close' data-dismiss='modal'>&times</button>
      		  	<h3 class='modal-title'>LabintheWild Template Study</h3>
    		 		</div>
	      		<div class='modal-body' id='modal-body'>
	      			<h4 align='left'><strong>Welcome!</strong></h4>
	      			<p align='left'>This LabintheWild study is a demonstration. It is designed to be a template for building other studies using the jsPsych library and LabintheWild utilities.</p>
	      			<p align='left'>Although this template only demonstrates a single kind of stimulus, other trial types are possible. See the <a href="http://docs.jspsych.org/" target="_blank">jsPsych documentation</a> to see which other trial types are supported.</p>
	      			<p>Also, visit our <a href="http://tutorial.labinthewild.org/" target="_blank">tutorial</a> to learn about best practices for designing large-scale, uncompensated studies.</p>
	      			<p>Close this box to begin the study!</p>
	      		</div>
	      		<div class='modal-footer'>
	            <img src='https://static.labinthewild.org/images/LabintheWild_withGlobe.png' style='float:left; height: 42px;'>
	            <button type='button' class='btn btn-primary' id='splash-ok' data-dismiss='modal'>Ok</button>
	      		</div>
	       	</div>
	      </div>
      </div>

			<div id="header">
				<a href='http://www.labinthewild.org'>
					<img src='img/logo.png' alt='logo' id='logo'/>
				</a>
				<div id='header-share' class='sharing-buttons'></div>
				<div class='separator'>&nbsp;</div>
			</div>
			<div id="progress-header"></div>
 			<div id="img-loading" class="slide"></div>
			<div id="irb" class="slide"></div>
			<div id="demographics" class="slide"></div>
			<div id="instructions" class="slide"></div>
			<div id="trials" class="slide"></div>
			<div id="break" class="slide"></div>
	  		<div id="comments" class="slide"></div>
	  		<div id="results" class="slide"></div>
			<div id="btn-next-page"></div>
			<div id="ajax-working"></div>
	   		<div id="empty" class="slide"></div>
		</div>


		<!-- LITW modules --> 
		<script src="js/litw/litw.utils.0.1.js"></script>
		<script src="js/litw/litw.results.0.1.js"></script>
	 	<script src="js/litw/litw.share.0.1.js"></script>
	 	<script src="js/litw/litw.forms.0.1.js"></script>
		<script src="js/litw/litw.data.0.1.js"></script>
	 	<script src="js/litw/litw.tracking.0.1.js"></script>
	 	<script src="js/litw/litw.comments.0.1.js"></script>

 		<!-- jspsych -->
		<script src="js/jsPsych-5.0.3/jspsych.js"></script>
		<script src="js/jsPsych-5.0.3/plugins/jspsych-call-function.js"></script>
		<script src="src/jspsych-single-stim-litw.js"></script>

		<!-- study code and content -->
		<script src="dist/bundle.min.js?ver=0.3"></script>
		<script src="js/jquery.i18n.js" type="text/javascript"></script>
		<script src="js/jquery.i18n.messagestore.js" type="text/javascript"></script>

	</body>
</html>