<div id="intro-box" class="instructions-stim-container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h2 class="bolded-blue" data-i18n="litw-study-title"></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 d-flex justify-content-center align-self-center">
            <p>
                <span data-i18n="litw-study-description-p1"></span>
                <span data-i18n="litw-study-description-p2"></span>
            </p>
        </div>
        <div class="col-4 d-flex justify-content-center">
          	<figure class="figure">
                <img src="../img/icon-tmp.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">
                    <a href="https://www.flaticon.com/free-icons/application" title="application icons">Application icons created by Creartive - Flaticon</a>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button type="button" class="btn btn-primary btn-lg" data-i18n="litw-study-intro-button" onclick="$('#btn-next-page').click()"></button>
        </div>
    </div>
</div>

