{{#if progress}}
    {{>prog value=progress.value}}
{{/if}}

<div id="question-box" class="instructions-stim-container">
    <div id="quest-id" data-value="{{ quest_id }}"></div>
    <div id="questionnaire">
        <div class="row gap-2">
            <h3 class="bolded-blue">{{ title }}</h3>
        </div>
    {{#if img_prompt}}
        <h4>{{ img_prompt.text_before }}</h4>
        <div id="img_prompt" class="pb-4">
            <img src="{{img_prompt.url}}" style="width: 100%; height: auto;">
        </div>
        <h4>{{ img_prompt.text_after }}</h4>
    {{/if}}

    {{#each questions}}
        <div class="row mt-4">
            <h6 id="question-{{ this.id }}" data-type="question" class="bolded-blue">{{ this.text }}</h6>
            <div class="col justify-content-center litw-button-group-container">
                <div class="btn-group me-2 litw-button-group" role="group" aria-label="First group">
    {{#each ../responses}}
                    <button type="button" data-qid="{{ ../this.id }}" data-rid="{{ this.id }}" class="btn btn-outline-primary" onclick="respondQuestion({{ ../this.id }}, {{ this.id }})">
                        {{ this.text }}
                    </button>
    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
        <div id="submit" class="row mt-4 invisible">
            <button id="button-save" type="button" class="btn btn-primary" data-bs-toggle="button"
                    onclick="finishQuestions()"> {{ done_button }} </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    TOTAL_Q = document.querySelectorAll('[data-type="question"]').length;
    responses = {}

    function respondQuestion (qID, rID) {
        selectResponse(qID, rID);
        responses[qID] = rID;
        if(Object.keys(responses).length === TOTAL_Q) {
            document.getElementById('submit').classList.remove('invisible');
        }
    }

    function selectResponse (qID, rID) {
        document.querySelectorAll(`[data-qid='${qID}']`).forEach(btn => {
            if(btn.dataset.rid == rID && !btn.classList.contains('active')) {
                btn.classList.add('active');
            }
            if(btn.dataset.rid != rID && btn.classList.contains('active')) {
                btn.classList.remove('active');
            }
        })
    }

    function finishQuestions () {
        let quest_id = document.getElementById('quest-id').dataset.value;
        LITW.study.params[quest_id] = JSON.parse(JSON.stringify(responses));
        let data = {}
        data[quest_id] = responses
        LITW.data.submitStudyData(data);
        document.getElementById('btn-next-page').click();
    }

</script>