<script type="text/javascript">
	window.onload = initTrial();
</script>

<p class="text-center"id="counter">1/10</p>

<h2 class="text-center bolded-blue" data-i18n="litw-practice-header"></h2>

<div id= "cat-container" class="text-center instructions-stim-container">
</div>

<!--Edit the code below to reveal the next button only if the entire trial is over. -->
<!--<script type="text/javascript">
  var checkBoxVerification = function (){
      if($('#agree-to-study').is(':checked')){
          $('#approve-irb').hide();
          $('#btn-next-page').attr('style', 'display:block;');
          $('#btn-next-page')[0].scrollIntoView();
      } else {
          $('#btn-next-page').hide();
          $('#approve-irb').attr('style', 'display:block;');
      }
  }
</script>-->