
<!-- Template for the IRB page -->
<h2 class="bolded-blue" data-i18n='litw-irb-header'></h2>
<p data-i18n='litw-irb-subheader-1'></p>
<p><em data-i18n='litw-irb-subheader-2'></em></p>

{{#times 6}}
	<div class="irb-paragraph">
		<strong class="irb-paragraph-header" data-i18n='litw-irb-body-{{this}}-p1'></strong>
		<p class="irb-paragraph-body" data-i18n='litw-irb-body-{{this}}-p2'></p>
	</div>
{{/times}}


<p data-i18n='litw-irb-body-final'></p>
<form id="consent-form">
	<input type="checkbox" id="agree-to-study" />
	<label for="agree-to-study" data-i18n='litw-irb-consent'></label>
</form>
<span class="bolded-blue" id="approve-irb" data-i18n='litw-irb-warning'></span>